/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.navbar {
  background-image: url('sims.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}*/
@import url(http://fonts.googleapis.com/css?family=Lobster);

body
{
background: linear-gradient( rgba(255,255,255,0.8) ,rgba(255,255,255,0.8) ), url('sims.jpg'); 
background: -webkit-linear-gradient( rgba(255,255,255,0.8) ,rgba(255,255,255,0.8) ), url('sims.jpg'); 
background: -moz-linear-gradient( rgba(255,255,255,0.8) ,rgba(255,255,255,0.8) ), url('sims.jpg'); 
font-family: 'Lobster', cursive;
background-size: 100%

}
html{
	min-height: 100%;
}

.navbar-default {
  background-color: #99e0ff;
  border-color: #c1f6fb;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #dbfcff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #dbfcff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #dbfcff;
  background-color: #c1f6fb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #dbfcff;
  background-color: #c1f6fb;
}
.navbar-default .navbar-toggle {
  border-color: #c1f6fb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c1f6fb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dbfcff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dbfcff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dbfcff;
    background-color: #c1f6fb;
  }
}

.navbar-default{
	font-size: 30px;
	
}

